body{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.navigator{
  width: 42%;
  margin: 0 auto;
  text-align: center;
}

a .navbar-brand{
  text-align: center;
  color: antiquewhite;
  font-size: 1.5rem;
}

.card-little{
  width: 50%;
  margin: 0 auto;
  background-color: #F8F8F8;
  margin-bottom: 20%;
}

.form-wrapper{
  width: 50%;
  margin: 0 auto;
  background-color: #F8F8F8;
  padding: 2%;
}

.btn-add-employee{
  float: right;
  margin-top: 10%;
  margin-bottom: 10%;
}

.wrapper-table{
  width: 100%;
  margin: 0 auto;
}

.employees-table{
  margin: 0 auto;
}